@model IEnumerable<DataBase.PageContent>

@{
    ViewData["Title"] = "Contentlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .buttonDelete {
        border: none;
        outline: none;
        background-color: transparent;
    }

        .buttonDelete:hover, buttonDelete:focus {
            border: none;
            outline: none;
            background-color: transparent;
        }
</style>


<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            @foreach (var item in Model)
            {
                <div class="border rounded rounded-top rounded-left rounded-right mt-3">
                    <div class="d-flex">
                        <p class="pt-3 pl-3 w-100">Edited at <span class="text-muted font-weight-bold">@item.PublicationData</span></p>
                        @if (item.Active == true)
                        {
                            <p class="pt-3 pr-3 font-weight-bold">Active</p>
                        }
                        else
                        {
                            <p class="pt-3 pr-3 font-weight-bold">Desactive</p>
                        }
                    </div>
                    <div class="d-flex pl-3 pb-3">
                        <div class="bg-secondary rounded m-2" style="width:70px; height:70px;">
                            @if (item.Image != null)
                            {
                                <div class="bg-white" style="width:70px; height:70px;">
                                    <img src="~/images/@item.Image" class="rounded" style="width:70px; height:70px;" alt="" />
                                </div>
                            }
                        </div>
                        <div class="p-2">
                            @Html.DisplayFor(modelItem => item.Title)
                            <p class="pt-3">@Html.DisplayFor(modelItem => item.MainContent)</p>
                        </div>

                    </div>
                    <div class="border-top p-3 text-right">

                        <span  id="confirmDeleteSpan_@item.Content_ID" style="display:none;">
                            <a href="/Home/Contentlist?ContentIdToDelete=@item.Content_ID" class="pr-3">Delete</a>
                            <a href="#" class="pr-3" onclick="ConfirmDelete('@item.Content_ID', false)">Cancel</a>
                        </span>

                        <span id="delete_@item.Content_ID">
                            <a href="#" class="pr-3" onclick="ConfirmDelete('@item.Content_ID', true)">Delete</a>
                        </span>

                        <a href="/Home/PostHistoryList?ContentIdSelectedToHistory=@item.Content_ID" class="pr-3">See History posts</a>
                        @if (@item.Image != null)
                        {
                            <a href="/Home/CreateImageContent?EditContent=@item.Content_ID">Edit</a>
                        }
                        else
                        {
                            <a href="/Home/CreateTextContent?EditContent=@item.Content_ID">Edit</a>
                        }
                    </div>

                </div>
            }
        </div>
    </div>
</div>


<script>
    function ConfirmDelete(uniqueId, isTrue){
        var DeleteSpan = 'delete_' + uniqueId;
        var confirmDelete = 'confirmDeleteSpan_' + uniqueId;

        if(isTrue){
            $('#' + DeleteSpan).hide();
            $('#' + confirmDelete).show();
        } else{
            $('#' + DeleteSpan).show();
            $('#' + confirmDelete).hide();
        }
    }
</script>