@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model IEnumerable<Services.Dto.PageDto>

@{
    ViewData["Title"] = "CreatorPosts";
}


<style>
    .mouseHover:hover {
        background-color: rgba(0,0,0,0.1);
        cursor: pointer;
    }
</style>

<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <div class="border p-3 bg-white rounded-top">
                <div class="d-flex justify-content-center mt-2">
                    <img src="~/imgs/default user.png" width="90" height="90" class="rounded-circle" />
                </div>
                <div class="d-flex justify-content-center mt-3">
                    @HttpContextAccessor.HttpContext.Session.GetString("Username").ToString()
                </div>
            </div>
            <div class="border p-2 bg-white font-weight-bold">
                <div class="p-2">
                    SUPPORTING
                </div>
            </div>
            @if (Model.Count() < 1)
            {
                <div class="border p-3 rounded-bottom bg-white">
                    <p>You aren’t supporting any creators yet.</p>
                </div>
            }
            else
            {
                <table class="table table-borderless">
                    @foreach (var item in Model)
                    {
                        <tr class="border mouseHover">
                            <th>
                                <a href="/Home/LaunchedPage?UserPageName=@item.PageName" class="text-decoration-none">
                                    <div class="d-flex pl-2">
                                        <div class="rounded-circle" style="width:50px; height:50px;">
                                            <img src="@item.ProfileImage" class="rounded-circle" style="width:50px; height:50px;" alt="" />
                                        </div>
                                        <div class="pl-3 pt-2">
                                            <p style="color:black;">@Html.DisplayFor(modelItem => item.PageName)</p>
                                        </div>
                                    </div>
                                </a>
                            </th>
                        </tr>
                    }
                </table>
            }
        </div>

        <div class="col-6">
            @if (Model.Count() < 1)
            {
                <div class="border mb-5 bg-white rounded">
                    <div class="d-flex justify-content-center mt-5">
                        <p>Support or follow creators to see posts in your feed.</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary rounded-pill btn-lg">Find Creators you love</a>
                    </div>
                    <div class="mt-3">
                        <img src="~/imgs/find_creators.png" class="img-fluid" />
                    </div>
                </div>
            }
            else
            {
                <table class="table table-borderless">
                    @foreach (var item in Model)
                    {
                        <tr class="border mouseHover">
                            <th>
                                <a href="/Home/LaunchedPage?UserPageName=@item.PageName" class="text-decoration-none">
                                    <div class="d-flex pl-2">
                                        <div class="rounded-circle" style="width:50px; height:50px;">
                                            <img src="@item.ProfileImage" class="rounded-circle" style="width:50px; height:50px;" alt="" />
                                        </div>
                                        <div class="pl-3 pt-2">
                                            <p style="color:black;">@Html.DisplayFor(modelItem => item.PageName)</p>
                                        </div>
                                    </div>
                                </a>
                            </th>
                        </tr>
                    }
                </table>
            }

        </div>




        <div class="col-3">
            <div class="border p-2 bg-white font-weight-bold">
                <div class="p-2">
                    BECOME A CREATOR
                </div>
            </div>
            <div class="border p-3 rounded-bottom bg-white">
                <p>You're almost there! Complete your page and take it live.</p>
                <a href="#" class="btn btn-info rounded-pill">Finish my page</a>
            </div>

            <div class="border p-2 mt-3 bg-white font-weight-bold">
                <div class="p-2">
                    FIND CREATORS YOU LOVE
                </div>
            </div>
            <div class="border p-3 rounded-bottom bg-white">
                <p>The creators you already love may be on Patreon – connect your social media to find them.</p>
                <a href="#" class="btn btn-info rounded-pill">Find creators</a>
            </div>
        </div>
    </div>
</div>