@model IEnumerable<DataBase.PageContent>

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<link href="~/cssfolder/style.css" rel="stylesheet" />

<div class="coverImage">
    <img class="w-100 m-0 coverImage__Image" src="@ViewBag.CoverImage" />
    <div class="d-flex justify-content-center">
        <img class="rounded-circle ProfileImage" width="150" height="150" src="@ViewBag.ProfileImage" />
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-6">
            <div class="text-center">
                <p class="mt-3 font-weight-bold h5">@ViewBag.PageName</p>
                <p class="text-muted text-lowercase">@ViewBag.IsAre @ViewBag.CreatingWhat</p>
            </div>

            <div class="text-center mt-5">
                <p class="font-weight-bold m-0 h5">@ViewBag.NumberOfFollowers</p>
                <p class="text-uppercase text-muted m-0">patrons</p>
            </div>

            <form id="form" asp-action="LaunchedPage">
                <div class="text-center mt-3">
                    <input value="Share" type="submit" class="btn btn-danger rounded-pill buttons" />
                    <input value="@ViewBag.Follow" name="btnFollow" type="submit" class="btn btn-danger rounded-pill buttons" />
                </div>
            </form>



            <div class="text-center mt-5">
                <p class="font-weight-bold m-0 h5">About @ViewBag.PageName</p>
                <div class="border rounded mt-3">
                    <p class="text-left m-0 p-4">@ViewBag.AboutPage</p>
                </div>
            </div>


            @if (@HttpContextAccessor.HttpContext.Session.GetString("UserID") != null)
            {
                @if (Model.Count() < 1)
                {
                    <div class="border mt-5 p-3 rounded-bottom bg-white">
                        <div class="text-center">
                            <p class="font-weight-bold">This creator haven't posted anything yet</p>
                            <div class="w-100 mt-3">
                                <img src="~/imgs/makeanewpostpage.png" class="w-100" />
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-center mt-5">
                        <p class="font-weight-bold m-0 h5">Recent posts by sousa</p>
                        <div class="mt-3">
                            @foreach (var item in Model)
                            {
                                <div class="mt-3">
                                    <div class="w-100">
                                        @if (item.Image != null)
                                        {
                                            <div class="bg-white w-100 m-0">
                                                <img src="~/images/@item.Image" class="w-100" alt="" />
                                            </div>

                                            <div class="border border-top-0 rounded-bottom p-3 text-left">
                                                <p class="text-muted font-weight-normal mb-1">@Html.DisplayFor(modelItem => item.PublicationData)</p>
                                                <a href="/Home/CommentContent?ContentIdView=@item.Content_ID" class="text-decoration-none"><p class="font-weight-bold mb-1" style="color:black;">@Html.DisplayFor(modelItem => item.Title)</p></a>
                                                <p class="font-weight-normal mb-0">@Html.DisplayFor(modelItem => item.MainContent)</p>
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="border rounded p-3 text-left">
                                                <p class="text-muted font-weight-normal mb-1">@Html.DisplayFor(modelItem => item.PublicationData)</p>
                                                <p class="font-weight-bold mb-1">@Html.DisplayFor(modelItem => item.Title)</p>
                                                <p class="font-weight-normal mb-0">@Html.DisplayFor(modelItem => item.MainContent)</p>
                                            </div>
                                        }
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="text-center mt-5">                    
                    <div class="border rounded mt-3">
                        <p class="text-center m-0 p-4">Sign up to see the posts</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>